STRIPE_SECRET_KEY=sk_live_your_secret_key_here
SITE_URL=https://www.durianparadises.com
REVIEWS_FILE_PATH=./reviews.json
ORDERS_FILE_PATH=./orders.json
REFERRALS_FILE_PATH=./referrals.json
ANALYTICS_FILE_PATH=./analytics.json
BUSINESS_UEN=53490378M
PAYMENT_PROVIDER=pending_dynamic_sgqr
PAYMENT_PROVIDER_NAME=PayNow / SGQR
RESEND_API_KEY=re_your_resend_api_key_here
ORDER_EMAIL_FROM=Durian Paradise <orders@durianparadises.com>
ORDER_EMAIL_REPLY_TO=durianparadise6940@gmail.com
ORDER_NOTIFICATION_EMAIL=durianparadise6940@gmail.com
ANALYTICS_AUTH_USER=owner
ANALYTICS_AUTH_PASSWORD=change_this_to_a_strong_password
